html,
body {
    margin: 0;
}

screen {
    display: inline-block;
    position: absolute;

    height: 100vh;
    width: 100vw;
    background: white;
    z-index: -3;
}

background {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

background .layer {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: -2;
}

background .shader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(117deg, rgba(252, 255, 113, 0.14) 0%, #000 100%);
    mix-blend-mode: hard-light;
    backdrop-filter: blur(1px);
    z-index: -1;
}

main {
    z-index: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}