html,
body {
    margin: 0;
}

app {
    --bottom-bar-height: 75px;
    --left-bar-width: 75px;
}

screen {
    display: inline-block;
    position: absolute;

    height: 100vh;
    width: 100vw;
    background: white;
    z-index: -3;
}

background {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

background .layer {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: -2;
    image-rendering: pixelated;
}

background shader {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

main-screen {
    z-index: 0;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

main-screen #Left-bar {
    position: absolute;
    width: var(--left-bar-width);
    height: calc(100% - 75px - 75px);
    background: white;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

main-screen #Bottom-bar {
    position: absolute;
    height: var(--bottom-bar-height);
    width: 100%;
    border-top: 1px solid black;
    background: white;
    bottom: 0;
}

main-screen #icon {
    width: 60px;
    height: 60px;
    margin: calc(15px/2);
}

div#InfoFrame {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100vh - var(--bottom-bar-height) - 1px);
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

info {
    position: absolute;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    min-height: 70%;
    max-height: max-content;
    max-width: 70%;
    border: 1px solid black;
    padding: 15px;
}