html,
body {
    margin: 0;
}

screen {
    display: inline-block;
    position: absolute;

    height: 100vh;
    width: 100vw;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,156,0,1) 9%, rgba(247,255,0,1) 19%, rgba(132,248,0,1) 30%, rgba(0,229,55,1) 41%, rgba(22,210,168,1) 53%, rgba(51,111,184,1) 66%, rgba(119,76,161,1) 78%, rgba(142,67,109,1) 88%, rgba(255,0,0,1) 100%);
}